<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Users"> 
            <mat-toolbar class="mat-elevation-z4">
                <mat-form-field class="full-width">
                    <input type="text" placeholder="Name" aria-label="Number" matInput [formControl]="filterName">
                  </mat-form-field>
            </mat-toolbar>
            <table mat-table [dataSource]="dataSourceAccounts" matSort class="mat-elevation-z8  mt-3">
        
              <!-- Position Column -->
              <ng-container matColumnDef="IBAN">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>IBAN </th>
                <td mat-cell *matCellDef="let element">{{element.account.iban}}  </td>
              </ng-container>
         
              <!-- Name Column -->
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
              </ng-container>
        
              <!-- Weight Column -->
              <ng-container matColumnDef="Balance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance </th>
                <td mat-cell *matCellDef="let element"> {{element.account.balance}} </td>
              </ng-container>
        
        
        
              <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
            </table>
    </mat-tab>
    <mat-tab label="Transactions">
      <mat-toolbar class="mat-elevation-z4">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Sender" aria-label="Number" matInput [formControl]="filterSender">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="text" placeholder="Recipient" aria-label="Number" matInput [formControl]="filterRecipient">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="text" placeholder="Amount" aria-label="Number" matInput [formControl]="filterAmount">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="date" placeholder="Date" aria-label="Number" matInput [formControl]="filterDate">
        </mat-form-field>
      </mat-toolbar>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8  mt-3">

        <!-- Position Column -->
        <ng-container matColumnDef="Sender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sender </th>
          <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Recipient">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Recipient </th>
          <td mat-cell *matCellDef="let element"> {{element.recipient}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-tab>
  </mat-tab-group>

</div>
