<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center;">{{person.firstName}} {{person.lastName}}{{person.name}}</h3>
            <h5 style="text-align: center;">AccountNr: {{iban}}{{cardAccount}}</h5>
            <p style="text-align: center;">Average transaction amount: ${{averageAmount}}</p>
            <p style="text-align: center;">Total received: ${{totalReceived}}</p>
            <p style="text-align: center;">Total send: ${{totalSend}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="w-100" *ngIf="apiPath != '/swissnationalbank/'">
                <tr>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let transaction of soortTransaction">
                    <td>{{transaction.sender}}{{transaction.creditorIBAN}}</td>
                    <td>{{transaction.recipient}}{{transaction.debitorIBAN}}</td>
                    <td [ngStyle]="{'background-color':transaction.amount > averageAmount *2 ? 'red' : 'white' }">${{transaction.amount}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>