/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; /* no underline */
  }


$mat-myapp-primary: (
    50 : #eaf4fa,
    100 : #cae3f2,
    200 : #a7d0e9,
    300 : #83bde0,
    400 : #69afda,
    500 : #4ea1d3,
    600 : #4799ce,
    700 : #3d8fc8,
    800 : #3585c2,
    900 : #2574b7,
    A100 : #f4faff,
    A200 : #c1e1ff,
    A400 : #8ec8ff,
    A700 : #74bcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myapp-accent: (
    50 : #fbf5ee,
    100 : #f4e7d4,
    200 : #edd7b7,
    300 : #e5c69a,
    400 : #e0ba85,
    500 : #daae6f,
    600 : #d6a767,
    700 : #d09d5c,
    800 : #cb9452,
    900 : #c28440,
    A100 : #ffffff,
    A200 : #fff0e0,
    A400 : #ffd7ad,
    A700 : #ffca94,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myapp-warn: (
    50 : #eceefc,
    100 : #d1d5f7,
    200 : #b2baf2,
    300 : #939eed,
    400 : #7b89e9,
    500 : #6474e5,
    600 : #5c6ce2,
    700 : #5261de,
    800 : #4857da,
    900 : #3644d3,
    A100 : #ffffff,
    A200 : #e9ebff,
    A400 : #b6bcff,
    A700 : #9ca4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// $primary: mat-palette($mat-myapp-primary);
// $accent: mat-palette($mat-myapp-accent);
// $warn: mat-palette($mat-myapp-warn);
// $theme: mat-light-theme($primary, $accent, $warn);

// @include angular-material-theme($theme);